<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czn.shoppingmall.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.czn.shoppingmall.domain.Cart" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buyer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="store_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="check_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, buyer_id, store_id, price, quantity, check_status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopping_mall_cart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByCartIdAndBuyerId" parameterType="map">
    delete from shopping_mall_cart
    where id = #{cartId}
    and buyer_id = #{buyerId}
  </delete>

  <select id="selectByProductIdAndBuyerId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from shopping_mall_cart
    where product_id = #{productId}
    and buyer_id = #{buyerId}
  </select>

  <select id="selectByBuyerId" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List"/>
    from shopping_mall_cart
    where buyer_id = #{buyerId}
  </select>

  <update id="setCheckStatus" parameterType="map">
    update shopping_mall_cart
    set check_status = #{checkStatus},
    update_time = now()
    where id = #{cartId}
    and buyer_id = #{buyerId}
  </update>

  <update id="setAllCheckStatus" parameterType="map">
    update shopping_mall_cart
    set check_status = #{checkStatus},
    update_time = now()
    where buyer_id = #{buyerId}
  </update>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopping_mall_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czn.shoppingmall.domain.Cart" >
    insert into shopping_mall_cart (id, product_id, buyer_id, 
      store_id, price, quantity, 
      check_status,create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{buyerId,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER},
       #{checkStatus,jdbcType=INTEGER},now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.czn.shoppingmall.domain.Cart" >
    insert into shopping_mall_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czn.shoppingmall.domain.Cart" >
    update shopping_mall_cart
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czn.shoppingmall.domain.Cart" >
    update shopping_mall_cart
    set product_id = #{productId,jdbcType=INTEGER},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      check_status = #{checkStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>