<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czn.shoppingmall.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.czn.shoppingmall.domain.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="store_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="main_image_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_images_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, store_id, name, subtitle, detail, main_image_url, sub_images_url,
    price, stock, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopping_mall_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopping_mall_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czn.shoppingmall.domain.Product" >
    insert into shopping_mall_product (id, category_id, store_id, 
      name, subtitle, detail,
      main_image_url, sub_images_url, price, 
      stock, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
      #{mainImageUrl,jdbcType=VARCHAR}, #{subImagesUrl,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{stock,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.czn.shoppingmall.domain.Product" >
    insert into shopping_mall_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="mainImageUrl != null" >
        main_image_url,
      </if>
      <if test="subImagesUrl != null" >
        sub_images_url,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="mainImageUrl != null" >
        #{mainImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="subImagesUrl != null" >
        #{subImagesUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czn.shoppingmall.domain.Product" >
    update shopping_mall_product
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="mainImageUrl != null" >
        main_image_url = #{mainImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="subImagesUrl != null" >
        sub_images_url = #{subImagesUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czn.shoppingmall.domain.Product" >
    update shopping_mall_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      main_image_url = #{mainImageUrl,jdbcType=VARCHAR},
      sub_images_url = #{subImagesUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByNameAndCategoryIdList" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from shopping_mall_product
    where status = 1
    <if test="name!=null">
      and name like #{name}
    </if>
    <if test="categoryIdList!=null">
      and category_id in
      <foreach item="item" index="index" separator="," open="(" close=")" collection="categoryIdList">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="selectByStoreIdList" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from shopping_mall_product
    where store_id in
    <foreach item="item" index="index" collection="storeIdList" open="(" close=")" separator=",">
       #{item}
    </foreach>
  </select>

</mapper>